*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}
body{
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1em;
}
.menu, button{
    background-color: white;
    border: none;
}
.menu{
    display: none;
    position: absolute;
    padding: 20px;
    right: -15px;
    width: 14rem;
    height: 100vh;
    top: -23px;
}
.hamburgerMenu{
    position: relative;
}

#features, #Company, .otherLinks{
    position: relative;
    padding-bottom: 18px;
}
#icon-menu, #closeMenu {
    animation: widthy 1s 3;
    cursor: pointer;
}
@keyframes widthy {
    from {transform: rotate(0deg);}
    to {transform: rotate(25deg);}
}
@keyframes mymove {
    from {right: -50px;}
    to {right: -10px;}
  }

#closediv{
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
}

#arrow{
    padding-left: 5px;
}
.drop-content{
    display: none;
    padding: 0px 18px 18px;
    font-weight: 400;
}
nav li {
    padding-bottom: 15px;
}
nav li img{
    padding-right: 10px;
}
.show{
    display: block;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    font-size: 16px;
    padding: 12px 60px;
    font-weight: 400;
}
.register{
    border: 1px solid black;
    border-radius: 10px;
}
.writeUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.writeUp h2{
    font-size: 36px;
    padding: 30px 0px 20px 0px ;
}
.writeUp p{
    font-size: 17px;
    line-height: 25px;
    width: 95%;
    padding-bottom: 20px;
}
.learnMore button{
    background-color: black;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-weight: 500;
}
.learnMore button:hover{
    transform: scale(0.9);
    transition: 0.8s ease-in-out;
    cursor: pointer;
}
.footings{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footings img {
    display: block;
    width: 4rem;
}