*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: none;
}
#arrow{
    padding-left: 5px;
}
.drop-content{
    display: none;
}
.show{
    display: block;
}